* {
  box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.gmail { 
    font-size: 13px;
    width:100%;
    position: absolute;
    top:0px;
    height:10%;
    padding-top: 15px;
    padding-right: 15px;

}

.pull_right {
   margin:0;
    padding: 0;
    display: block;
    float: right;
    
    
}


.gmail li {
    display: inline;
    list-style-type: none;
    padding: 0 8px;
}

.gmail ul li a {
    text-decoration: none;
    color: #666666;
}

.gmail ul li a img {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-bottom: -5px;
    padding: 0 4px;
    margin-bottom: -10px;
    
}

.gmail ul li a:hover {
    text-decoration: underline;
}


.content {
    position: relative;
    width:100%;
    position: relative;
    height:80%;
    top:10%;
    margin: auto;
    max-width: 550px;
    text-align: center;
}

.content .logo img {
    display:inline-block;
    height:92px;
    width:292px; 
    margin: 80px 0;
}


.search_box input {
    display: inline-block;
    height: 43px;
    width: 600px;
    margin-bottom: 20px;
    padding: 5px;
 }

 .search_box input:hover {
     border: 1px solid lightblue;
     box-shadow: 0 0.2px 0.2px 0;
 }


.feeling_lucky button {
    display: inline-block;
	background-color: #f5f5f5;
	color: lightgrey;
	border: 1px solid #dcdcdc;
	border-radius: 2px;
	cursor: default;
	font-size: 16px;
	font-weight: 50px;
	text-align: center;
	height: 40px;
	line-height: 27px;
	min-width: 100px;
	padding: 0 35px;
	text-decoration: none;
}

.feeling_lucky .buttons:hover {
	background-color: #F8F8F8;
	border: 1px solid #C6C6C6;
	color: #333;
	border: 1px solid #C6C6C6;
	color: #333;
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}


.footer{
    position: fixed;
    bottom: 0px;
    height: 10%;
    width:100%;
   color: #666;
    background-color: #F2F2F2;
    font-family: Arial;
 
  padding: 10px;

}

.right{
    float:right;
}

.left{
    float: left;
}

.footer .right ,
footer .left   {
  padding-right: 27px;
}
 .right  a,
.left   a {
  text-decoration: none;
  color: grey;
  margin-right: 5px;
}
.footer .right  a:hover,
.footer  .left   a:hover {
  text-decoration: underline;
}

#footer li {
  padding-right: 27px;
}

li, a {
  text-decoration: none;
  color: grey;
}

p {
  color: black;
}

li a:hover {
  text-decoration: underline;
}

p:hover {
  text-decoration: underline;
}

